<h1>{{title}}</h1>
{% for pronostic in pronostics %}
    <section>
        <div>
            <span>{{pronostic.first_team_name}}</span>
            <span> {{pronostic.first_team_score}}</span>
            <!-- Drapeau du pays-->
            <img src="">
        </div>
        <div>
            <span> {{pronostic.second_team_name}}</span>
            <span> {{pronostic.second_team_score}}</span>
               <!-- Drapeau du pays-->
            <img src="">
        </div>
    </section>
{% endfor %}
