<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/app.css">
</head>
<body>
    <h1>Edit matchs</h1>
    <form action="" method="post" class="match">
        {{form.dateMatch.label}}
        {{form.dateMatch}}
        <br>
        {{form.timeMatch.label}}
        <input id="timeMatch" name="timeMatch" value="" type="time">
    
        <h2>Equipe domicile</h2>
        <select name="choiceTeamDom" id="">
            {% for team in teams %}
                {% if team.id == matchs.first_team_id %}
                    <option value="{{team.id}}" selected="selected">{{team.name}}</option>
                {% else %}
                    <option value="{{team.id}}">{{team.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        {{form.coteMatchDom.label}}
        <input id="coteMatchDom" name="coteMatchDom" required="" value="" type="text" placeholder="{{matchs.first_team_cote}}">    
        <br>
    
        <h2>Equipe extérieur</h2>
        <select name="choiceTeamExt" id="">
            {% for team in teams %}
                {% if team.id == matchs.second_team_id %}
                    <option value="{{team.id}}" selected="selected">{{team.name}}</option>
                {% else %}
                    <option value="{{team.id}}">{{team.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        {{form.coteMatchExt.label}}
        <input id="coteMatchExt" name="coteMatchExt" required="" value="" type="text" placeholder="{{matchs.second_team_cote}}">
        <br>                
    </form>
</body>
</html>