<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body>
    <h1>Liste des matchs</h1>
    <section class='listMatch'>
        
        {% for match in matchs %}
            <h2>    
                    {{match.first_team_name}} - (côte de {{match.first_team_cote}})
                VS 
                    {{match.second_team_name}} - (côte de {{match.second_team_cote}})
            </h2>
            <p style="color: brown">Score actuel:</p>
            <p>{{match.first_team_score}} - {{match.second_team_score}}</p>
            <a href="/editMatch/{{match.id}}">
                <input type="button" value="Editer">
            </a>
        {% endfor %}            
    </section>
</body>
</html>